[Unit]
Description=i3 graphical session
Wants=blueman-applet.service xsettingsd.service watch-xsettingsd.service nm-applet.service pasystray.service redshift.service dunst.service new-screenshots.service regen-mandb.service
BindsTo=graphical-session.target
