[Unit]
Description=Notify about new screenshots

[Service]
ExecStart=/usr/bin/env adhocify -w %h/Zrzuty/ -- /bin/sh -c 'dunstify "Utworzono zrzut ekranu" "file://$ADHOCIFYFILE"'
